<div ng-repeat="period in $ctrl.model.periods"
     class="period {{period.type}}">
  <div class="class-data"
    ng-show="period.type === 'class'">
    <div class="time" ng-bind="$ctrl.getClassStartTime(period.index)"></div>
    <div class="index" ng-bind="period.index"></div>
    <div class="time" ng-bind="$ctrl.getClassEndTime(period.index)"></div>
  </div>
</div>

<div class="overlay">
  <div ng-repeat="day in $ctrl.model.schedule" class="column">
    <div ng-repeat="klass in day" class="class" ng-class="{ bigbreak: $index === 2, full: klass.group }">
      <div class="group" ng-bind="klass.group"></div>
      <div class="room" ng-bind="klass.room"></div>
    </div>
  </div>
</div>